name: Build & Release Tauri App

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install frontend deps
        run: pnpm install --frozen-lockfile

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Tauri CLI
        run: pnpm add -D @tauri-apps/cli@latest

      - name: Build (Tauri)
        run: pnpm tauri build

      - name: Generate latest.json
        shell: pwsh
        run: |
            $version = "${{ github.ref_name }}".TrimStart('v')
            python scripts/generate_latest_json.py --version $version --notes "Release ${{ github.ref_name }}"


      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref }}
          name: ${{ github.ref_name }}
          files: |
            src-tauri/target/release/bundle/nsis/*.exe
            src-tauri/target/release/bundle/nsis/*.exe.sig
            src-tauri/target/release/bundle/nsis/latest.json
